<a href="https://www.viharatech.com"><img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*on2Bpj6A5gfd-CzaFOAZRA.jpeg"></a>


- `Welcome to our interactive learning session! In this Jupyter notebook, you'll find a series of questions related to Python Concept. To maximize your learning, please write Python code in the cell below each question and execute it. This hands-on practice will help reinforce your understanding of the concepts. Feel free to reach out if you have any questions or need assistance. Happy coding! ðŸ’»ðŸ `

## Question 1

- `Take two integer numbers and return their product. If the product is greater than 1000, then return their sum if product is less than 1000 return product value only.`

In [19]:
# Please write The solution Here for above question 1:

a=20
b=30
c=a*b

if c>1000:
  print(a+b)

elif c<1000:
  print(c)

600

## question 2

- `Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number`

Expected output:
-----------------
    Printing current and previous number sum in a range(10)
    Current Number 0 Previous Number  0  Sum:  0
    Current Number 1 Previous Number  0  Sum:  1
    Current Number 2 Previous Number  1  Sum:  3
    Current Number 3 Previous Number  2  Sum:  5
    Current Number 4 Previous Number  3  Sum:  7
    Current Number 5 Previous Number  4  Sum:  9
    Current Number 6 Previous Number  5  Sum:  11
    Current Number 7 Previous Number  6  Sum:  13
    Current Number 8 Previous Number  7  Sum:  15
    Current Number 9 Previous Number  8  Sum:  17

In [20]:
# Please write The solution Here for above question 2:

for i in range(0,10):
  if i!=0:
    p=i-1
  else:
    p=0

  sum=i+p
  print(f'Current Number {i}  Previous Number {p}  Sum: {sum}')

Current Number 0  Previous Number 0  Sum: 0
Current Number 1  Previous Number 0  Sum: 1
Current Number 2  Previous Number 1  Sum: 3
Current Number 3  Previous Number 2  Sum: 5
Current Number 4  Previous Number 3  Sum: 7
Current Number 5  Previous Number 4  Sum: 9
Current Number 6  Previous Number 5  Sum: 11
Current Number 7  Previous Number 6  Sum: 13
Current Number 8  Previous Number 7  Sum: 15
Current Number 9  Previous Number 8  Sum: 17

## question 3

Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

- Example :
     `("pynative", 4) so output must be tive.`
     
     `Note: n must be less than the length of the string.`

In [21]:
# Please write The solution Here for above question 3:

a='pynative'
n=4
print(a[n:])

tive

## question 4

### `Given a list of numbers, return True if first and last number of a list is same`

    Expected Output:
    -------------------------------------

    Given list is
    a =  [10, 20, 30, 40, 10]
    b = [10 , 20 , 30 , 40, 10 ]
    result is True

    Given list is  
    a = [10, 20, 30, 40, 50]
    b = [11 , 21 , 31 , 41 , 51 ]
    result is False

In [22]:
# Please write The solution Here for above question 4:

a=[10,20,30,40,10]
n=len(a)-1

if a[0]==a[n]:
  print(True)
else:
  print(False)

True

In [23]:
b=[11,21,31,41,51]
n=len(b)-1

if b[0]==b[n]:
  print(True)

else:
  print(False)

False

## question 5

### Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

    list1 = [10, 20, 30, 40]
    list2 = [100, 200, 300, 400]


    Expected output:
    -----------------------------
    10 400
    20 300
    30 200
    40 100

In [24]:
# Please write The solution Here for above question 5:

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

list2.reverse()

for i in list1:
  print(i)

for j in list2:
  print(j)

10
20
30
40
400
300
200
100

## question 6

### Remove empty strings from the list of strings


    list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

    Expected output:
    ----------------------

    ["Mike", "Emma", "Kelly", "Brad"]

In [ ]:
# Please write The solution Here for above question 6:

In [26]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
c=''

for i in list1:
  if i!="":
    c=c+i+' '

d=c.split()
print(d)

['Mike', 'Emma', 'Kelly', 'Brad']